[submodule "Software/Jetson/workspace/isaac_ros-dev/src/submodules/isaac_ros_common"]
	path = Software/Jetson/workspace/isaac_ros-dev/src/submodules/isaac_ros_common
	url = git@github.com:AshishA26/isaac_ros_common.git
	branch = orion
[submodule "Software/Jetson/workspace/isaac_ros-dev/src/submodules/rf2o_laser_odometry"]
	path = Software/Jetson/workspace/isaac_ros-dev/src/submodules/rf2o_laser_odometry
	url = git@github.com:Adlink-ROS/rf2o_laser_odometry.git
	branch = humble-devel
